<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - School</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/global.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </environment>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <nav class="navbar navbar-light bg-light navbar-fixed-top" style="background-color:#d5eaf2;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar" style="color:black;"></span>
                    <span class="icon-bar" style="color:black;"></span>
                    <span class="icon-bar" style="color:black;"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><strong style="color:black;font-size:20px;font-family:'Times New Roman', Times, serif">SHIV SHAKTI OXFORD PUBLIC SCHOOL</strong></a>
            </div>
            @if (ViewBag.Role != "Admin")
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index"><span style="color:black;font-size:14px;font-family:Arial">HOME</span></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span style="color:black;font-size:14px;font-family:Arial">ABOUT</span></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span style="color:black;font-size:14px;font-family:Arial">ACADEMIC</span></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span style="color:black;font-size:14px;font-family:Arial">ADMISSION</span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width:200px;">
                            <a class="dropdown-item" href="#" style="text-decoration:none;"><span style="padding-left:14px;padding-right:15px;color:black;font-size:14px;font-family:Arial">ADMISSION PROCESS</span></a><br />
                            <a class="dropdown-item" href="#" style="text-decoration:none;"><span style="padding-left:14px;padding-right:15px;color:black;font-size:14px;font-family:Arial">AGE CRITERIA</span></a><br />
                        </div>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About"><span style="color:black;font-size:14px;font-family:Arial">EVENTS</span></a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact"><span style="color:black;font-size:14px;font-family:Arial">CONTACT US</span></a></li>
                </ul>
            </div>
            }
        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <div class="row" style="margin-top:10px;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <footer>
                    <p style="text-align:center;padding-top:10px;border-top:1px solid black;"><i class="fa fa-envelope"></i>&nbsp;&nbsp;shivshaktioxford@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;9999 999 999</p>
                    <p style="text-align:center;">Shivshaktioxfordpublicschool&copy;2020</p>
                </footer>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
